# This plugin processes ...
#
# Author:
#	Ф.И.О
#	NSPK DI

## ****************************************************
#       Зона конфигурации плагина

# Инструкция REF обязательна и указывает на связанный объект.
# В для типа PARSER необходимо указать уникальное имя источника в {ref-name}
# REF {ref-name}    # *раскомментировать

TYPE PARSER

# Инструкция FILE указывает, какие файлы важны для работы плагина.
# Если в плагине есть нагрузка (модель или парсер), то нужно указать и их.
# TYPE {filename}   # *раскомментировать
FILE SPPfile

## ****************************************************

## ****************************************************
#       Зона конфигурации задачи

# Инструкция SET restart-interval устанавливает интервал перезапуска задачи. Формат POSTGRESQL interval string
# Например: {interval string} = {2 days} или {1 week}
SET restart-interval {interval string}

## ****************************************************

## ****************************************************
#       Зона конфигурации нагрузки

# Инструкция PAYLOAD указывает имя файла нагрузки.
# Файл должен иметь расширение .py и содержать класс нагрузки
# PAYLOAD {filename}    # *раскомментировать

# Инструкция INIT устанавливает значения, объекты, который нужно передать в конструктор класса нагрузки при ее инициализации
#       keyword - название, по которому будет передаваться объект (key)
#       module - название модуля, который будет загружен
# INIT {keyword} {module}

# Инструкция ENTRY устанавоивает точку входа. Это имя класса и метода, которые должна запустить платформа.
#       {entry method} по умолчанию - content
# ENTRY {payload classname} {entry method}

## ****************************************************

## ****************************************************
#       Зона конфигурации постобработки

# Инструкция ADD указывает модуль, который должен быть выполнен на этапе постобработки
#   ADD {module name} {params[]}
#       critical - флаг, который указывает, что выбранный модуль должен завершить работу без ошибок для продолжения работы постобработки

# Стандартная связка для парсеров
ADD TimezoneSafeControl critical
ADD FilterOnlyNewDocumentWithDB critical
ADD UploadDocumentToDB critical

## ****************************************************